<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Student</title>
    <style>
      .firstbox{
         background-color: aquamarine;
         border: 2px rgb(0, 255, 136) solid;
      }
   
   label{
         display: block;
         padding: 2px;
         text-align: center;
      }
    input{

         margin: auto;
         display: block;

}
      button{
		   
           margin: 1em auto;
           display: block;
      }
    </style>
</head>
<body>
   <h2>Enter the Student Details</h2>
    <form action="#" th:action="@{'/studentDatabase/save'}" th:object="${student}" method="post">
      <div class="fullbox">
         <div class="firstbox">

     <div alight="left">
        <label class="form_label">Student Name</label>
        <input type="text" th:field="*{name}" name="form_label" >
     </div>
     <div alight="left">
        <label class="form_label">Course</label>
        <input type="text" th:field="*{course}" name="form_label" >
     </div> 
     <div alight="left">
        <label class="form_label">Fees</label>
        <input type="text" th:field="*{fees}" name="form_label" >
     </div>
     <div alight="left">
        <button type="submit">Save</button>
     </div> 
   </div>
   </div>     
    </form>
</body>
</html>